<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>Extension</title>
</head>
<body>
    <nav class="navbar">
        <h1 class="logoName">
          <a href="index.html">Volume Control</a>
        </h1>
        <div class="hamburger" id="hamburger">
            <div class="bar"></div>
            <div class="bar"></div>
            <div class="bar"></div>
        </div>
        <ul class="list" id="menu">
            <li class="list-item">
                <a href="drums.html">Drums</a>
            </li>
            <li class="list-item">
                <a href="bass.html">Bass</a>
            </li>
            <li class="list-item">
                <a href="vox.html">Vox</a>
            </li>
            <li class="list-item">
                <a href="about.html">Extension</a>
            </li>
            <li class="list-item">
                <a href="policy.html">Policy</a>
            </li>
        </ul>
    </nav>

    <h3 class="offer">.vol 1</h3>
    <div class="badge-container">
        <img src="/static/images/badge..png" alt="">
    </div>
    
    <div class="img-containerA">
        <img src="/static/images/pattern..jpg" alt="">
    </div>

    <span class="center-pic">
        <img src="static/images/icons8-subwoofer-100.png" alt="" class="vol-pic">
    </span>

    <div class="img-containerB">
        <img src="/static/images/..jpg" alt="">
    </div>

    <div class="img-containerD">
        <img src="/static/images/..png" alt="">
    </div>

    <div class="img-containerC">
        <img src="/static/images/headp..jpg" alt="">
    </div>

    
    <h1 class="mission"><a class="down-now" href="/">Download Now</a></h1>
    <!--Get an exe file for this download link (This is not a redirect but a download of the feature as an exe file)-->
    <div class="content3">
        <ul class="text-content3">
            <p>
                Adjusts the volume by changing the distance
                between landmark[4] and landmark[8] 
                <br>your pointer finger
                and thumb. This script utilizes the osascript,
                opencv, cvzone<br>and os modules. The bounding
                modules. The bounding box surrounds the hand<br> after being detected
                by the camera and monitors the change in volume over a<br> 
                specified period of time.
                With this new feature we strive to
                Lorem ipsum nonsh <br> kod. Brought to
                you by the creators of Free Music Loops
                hula bungat and we<br> aspernatur, animi recusandae 
                deserunt concom flewis despi karfo demeno to<br> odit dolor. Tempora, ipsam
                laudantium? Minus iusto rem est brawe tooli permi<br>tobopod 
                qui dolorum baskquen antelok ablem opplista begmonk jark pould et?
            </p>
            
        </ul>
    </div>
    <div class="img-container">
        <img id="cbean" src="/static/images/c-Beans..png" alt="">
    </div>
    <div class="thin-line"></div>
    
    <footer>
        <nav class="navbar2">
            <ul class="list2" id="menu2">
                <li class="list-item2">
                    <a href="drums.html">Drums</a>
                </li>

                <li class="list-item2">
                    <a href="bass.html">Bass</a>
                </li>
                <li class="list-item2">
                    <a href="vox.html">Vox</a>
                </li>
                <li class="list-item2">
                    <a href="about.html">Extension</a>
                </li>
                <li class="list-item2">
                    <a href="policy.html">Policy</a>
                </li>
            </ul>
        </nav>
        <h4>Free Music Loops</h4>
        <h5>1208 SE 35th Blvd, 99024  Los Angeles, CA</h5>
        <h6>FreeMusicLoops@Gmail.com | 626-009-4562</h6>
        <div class="copyright">
            <h6 id="copy-id"> Copyright © Developer All rights reserved</h6>
        </div>
    </footer>
</body>
</html>
