<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/looperman.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/images/pexels-kai-pilger-1128440.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }

        .container {
            background-color:transparent;
            padding: 20px;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
    </style>
    <title>Bass</title>
</head>
<body>
    <h1 class="main-text">
        <a class="loop-title-drums" href="index.html">Free Music Loops</a>
    </h1>
    <nav class="navbar">
        <ul class="nav-container">
            <li class="nav-list">
                <a href="drums.html" class="nav-item">Drums</a>
            </li>
            <li class="nav-list">
                <a href="bass.html" class="nav-item">Bass</a>
            </li>
            <li class="nav-list">
                <a href="vox.html" class="nav-item">Vox</a>
            </li>
        </ul>
    </nav>


<!--1-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
            <!-- play btn -->
            
        </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
                
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
            
                <div class="jp-progress">
                    <div class="link-text"><a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--2-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--3-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--4-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--5-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--6-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--7-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                    
    <div class="player-title-wrapper-mbl">
        <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
          

        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
            <!-- play btn -->
            <div class="player-btn-wrapper">
                <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
            </div>
        </div><!-- end top -->
    
    <div class="player-midtop">
        <!-- info -->
        <div class="player-sub-title">
            <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
            <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                23rd Oct 2023</span>
        </div>
        <div class="player-stats-wrapper">
        </div>
    </div><!-- end midtop -->
    <div class="player-middle">
                <!-- progress bar -->
        <div class="player-waveform-wrapper-list">
            <div class="jp-progress">
                <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"> </div>
                </div>
            </div>
        </div>
        </div>
        <audio src="/" controls controlsList="nodownload">
            <button onclick="document.querySelector('audio').play()">Play</button>
            <button onclick="document.querySelector('audio').pause()">Pause</button>
        </audio>
    <br>
    <br>
<!--8-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--9-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--10-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--11-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
<!--12-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="/" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">808 Bass Loop 100bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
            
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio src="/" controls controlsList="nodownload">
                <button onclick="document.querySelector('audio').play()">Play</button>
                <button onclick="document.querySelector('audio').pause()">Pause</button>
            </audio>
        <br>
        <br>
</body>
</html>