<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Contact</title>
</head>
<body>
    <h1 class="main-text">Contact</h1>
    <nav class="navbar">
        <ul class="nav-container">
            <li class="nav-list">
                <a href="index.html" class="nav-item">Home</a>
            </li>
            <li class="nav-list">
                <a href="about.html" class="nav-item">About</a>
            </li>
            <li class="nav-list">
                <a href="contact.html" class="nav-item">Contact</a>
            </li>
        </ul>
    </nav>

    <form clas="form-class" action="/" method="post">
        {% csrf_token %}
        <ul class="input-fields">
            <input type="text" name="name" placeholder="Full Name" required>
            <input type="email" name="email" placeholder="Email Address" required>
            <input type="text" name="phone" placeholder="Phone number" required>
            <button type="submit" class="submit-btn">Send</button>
        </ul>
    </form>
</body>
</html>