<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/looperman.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/images/pexels-kai-pilger-1128440.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }

        .container {
            background-color:transparent;
            padding: 20px;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
    </style>
    <title>Drums</title>
</head>
<body>
    <h1 class="main-text">
        <a class="loop-title-drums" href="index.html">Free Music Loops</a>
    </h1>
    <nav class="navbar">
        <ul class="nav-container">
            <li class="nav-list">
                <a href="drums.html" class="nav-item">Drums</a>
            </li>
            <li class="nav-list">
                <a href="bass.html" class="nav-item">Bass</a>
            </li>
            <li class="nav-list">
                <a href="vox.html" class="nav-item">Vox</a>
            </li>
        </ul>
    </nav>


<!--1-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">brake_neck_drumloop 123bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/pexels-steve-johnson-1573434.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">brake_neck_drumloop 123bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    23rd Oct 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
                <!-- ... (other HTML) ... -->
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/brake_neck_drumloop.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3//brake_neck_drumloop.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--2-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">laidback_drum_and_bass_beat 140bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/pexels-dan-cristian-pădureț-1193743.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">laidback_drum_and_bass_beat 140bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago - added  1 hour ago	">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static '/mp3/laidback_drum_and_bass_beat_40bpm.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
                id="myAudio_2" 
                src="{% static '/mp3/laidback_drum_and_bass_beat_40bpm.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
<!--3-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Soubbin 130bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/pexels-hendrik-b-744318.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Soubbin 130bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="{% static '/mp3/Soubbin.mp3' %}"  class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
        <audio 
                id="myAudio_3" 
                src="{% static '/mp3/Soubbin.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
            
        <br>
        <br>
<!--4-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Pandas 128bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/pexels-marinko-krsmanovic-2651794.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Pandas 128bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="{% static '/mp3/Pandos.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
                id="myAudio_4" 
                src="{% static '/mp3/Pandos.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
<!--5-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">BigBoom 130bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/pexels-egor-komarov-12575729.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">BigBoom 130bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
                id="myAudio_4" 
                src="{% static '/mp3/BigBoom.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
<!--6-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Staris 164bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/pexels-cottonbro-studio-4087994.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Staris 164bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
                id="myAudio_4" 
                src="{% static '/mp3/Staris-2.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
<!--7-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                    
    <div class="player-title-wrapper-mbl">
        <a href="/" class="player-title">TrailToTransit 120bpm</a></div>
          

        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/pexels-rdne-stock-project-8198158.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">TrailToTransit 120bpm</a></div>
            <!-- play btn -->
            <div class="player-btn-wrapper">
                <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
            </div>
        </div><!-- end top -->
    
    <div class="player-midtop">
        <!-- info -->
        <div class="player-sub-title">
            <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
            <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                23rd Oct 2023</span>
        </div>
        <div class="player-stats-wrapper">
        </div>
    </div><!-- end midtop -->
    <div class="player-middle">
                <!-- progress bar -->
        <div class="player-waveform-wrapper-list">
            <div class="jp-progress">
                <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                <div class="jp-seek-bar">
                    <div class="jp-play-bar"> </div>
                </div>
            </div>
        </div>
        </div>
        <audio 
                id="myAudio_4" 
                src="{% static '/mp3/TrailToTransit.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
    <br>
    <br>
<!--8-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Tera 115bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/alexander-oyBnrkb35OI-unsplash.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Tera 115bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
                id="myAudio_5" 
                src="{% static '/mp3/tera.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
<!--9-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">PostRequest 130bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/jan-kopriva-YhfMDUHIKDU-unsplash.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">PostRequest 130bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
            id="myAudio_5" 
            src="{% static '/mp3/PostRequest.mp3' %}" 
            controls 
            controlsList="nodownload" 
            loop>
    </audio>>
        <br>
        <br>
<!--10-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Osa 127bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/wes-hicks-VZNYO4suM5o-unsplash.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Osa 127bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
            id="myAudio_6" 
            src="{% static '/mp3/Osa.mp3' %}" 
            controls 
            controlsList="nodownload" 
            loop>
    </audio>
        <br>
        <br>
<!--11-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Bereign 125bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/verdana-ray-Bmhm2oPbRBw-unsplash.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Bereign 125bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
            id="myAudio_7" 
            src="{% static '/mp3/Bereign.mp3' %}" 
            controls 
            controlsList="nodownload" 
            loop>
    </audio>
        <br>
        <br>
<!--12-->
    <div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="https://www.looperman.com/media/loops/3465391/looperman-l-3465391-0343372-dark-pad-loop-83.mp3">
        <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
        <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
                        
        <div class="player-title-wrapper-mbl">
            <a href="/" class="player-title">Fuyo 128bpm</a></div>
              

            <div class="player-top">
                <!-- avatar -->
                <div class="">
                    <a href="/"><img src="static/images/alexander-9arp2_dbNY0-unsplash.jpg" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>			</div>
                <!-- title -->
                <div class="player-title-wrapper">
                    <a href="/" class="player-title">Fuyo 128bpm</a></div>
                <!-- play btn -->
                <div class="player-btn-wrapper">
                    <a href="javascript:;" title="play" class="player-big-btn btn-play jp-play" tabindex="0"></a>
                    <a href="javascript:;" title="pause" class="player-big-btn btn-pause jp-pause" tabindex="0"></a>
                </div>
            </div><!-- end top -->
        
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Drum Loop Maker</a>
                <span class="datetime"title="uploaded 1 hour ago								- added  1 hour ago								">
                    23rd Oct 2023</span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div><!-- end midtop -->
        <div class="player-middle">
                    <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"> <a href="/" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                        <div class="jp-play-bar"> </div>
                    </div>
                </div>
            </div>
            </div>
            <audio 
            id="myAudio_8" 
            src="{% static '/mp3/Fuyo.mp3' %}" 
            controls 
            controlsList="nodownload" 
            loop>
    </audio>
        <br>
        <br>
<script src="static/mp3/play_audio.js"></script>
</body>
</html>