<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Home</title>
</head>
<body>
    <h1 class="main-text">Movies On Demand</h1>
    <nav class="navbar">
        <ul class="nav-container">
            <li class="nav-list">
                <a href="index.html" class="nav-item">Home</a>
            </li>
            <li class="nav-list">
                <a href="about.html" class="nav-item">About</a>
            </li>
            <li class="nav-list">
                <a href="contact.html" class="nav-item">Contact</a>
            </li>
        </ul>
    </nav>


        <h2 class="download-text">Download Links</h2>
        <ul class="link-set">
            <li class="links">
                <div>Movie Title: <a href="/" class="link" download>Download Link 1</a></div>
                <span class="spacer"></span>
                <div>Movie Title: <a href="/" class="link" download>Download Link 2</a></div>
                <span class="spacer"></span>
                <div>Movie Title: <a href="/" class="link" download>Download Link 3</a></div>
                <span class="spacer"></span>
                <div>Movie Title: <a href="/" class="link" download>Download Link 4</a></div>
            </li>
        </ul>
</body>
</html>