<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/looperman.css">
    <style>
        body {
            margin: 0;
            padding: 0;
            background-image: url('static/images/pexels-kai-pilger-1128440.jpg');
            background-size: cover;
            background-position: center;
            background-attachment: fixed;
            font-family: Arial, sans-serif;
        }

        .container {
            background-color:transparent;
            padding: 20px;
            margin: 20px;
        }

        h1 {
            color: #333;
        }

        p {
            color: #555;
            line-height: 1.5;
        }
    </style>
    <title>Vox</title>
</head>
<body>
    <h1 class="main-text">
        <a class="loop-title-drums" href="index.html">Free Music Loops</a>
    </h1>
    <nav class="navbar">
        <ul class="nav-container">
            <li class="nav-list">
                <a href="drums.html" class="nav-item">Drums</a>
            </li>
            <li class="nav-list">
                <a href="bass.html" class="nav-item">Bass</a>
            </li>
            <li class="nav-list">
                <a href="vox.html" class="nav-item">Vox</a>
            </li>
        </ul>
    </nav>


<!--1-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">AyeAgain 108bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/AyeAgain.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">AyeAgain 108bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    3rd May 2022
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/AyeAgainMP3.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/AyeAgainMP3.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--2-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">Zemva 108bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/pileup.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Zemva 108bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    20th Sep 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
         
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Zemva.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Zemva.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--3-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">Figs 103Bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/musicFigs.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Figs 103bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    16th Jan 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
         
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Figs.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Figs.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--4-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Genie_Sub_bass_102bpm.mp3" class="player-title">DoSum 125bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/jukebox.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">DoSum 125bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    2nd Feb 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/DoSum.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/DoSum.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--5-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3" class="player-title">Oh Yeah (Growl)</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Oh Yeah (Growl)</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    21st Mar 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Oh_Yeah_Growl.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Oh_Yeah_Growl.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--6-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/DropCrunch_Sub_bass_Em_150bpm.mp3" class="player-title">DropCrunch Sub bass Em 150bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">DropCrunch Sub bass Em 150bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    16th Jan 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/DropCrunch_Sub_bass_Em_150bpm.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/DropCrunch_Sub_bass_Em_150bpm.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--7-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Danger_Sub_Bass_Em_109bpm.mp3" class="player-title">Danger Sub Bass Em 109bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Danger Sub Bass Em 109bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    19th Nov 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Danger_Sub_Bass_Em_109bpm.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Danger_Sub_Bass_Em_109bpm.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--8-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Danger_Sub_Bass_Em_109bpm.mp3" class="player-title">Range Sub Bass C#m 112bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Range Sub Bass C#m 112bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    11th May 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Range_Sub_Bass_Cm_112bpm.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Range_Sub_Bass_Cm_112bpm.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--9-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Brave_Bad_sub_bass_160bpm_Dm.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/Danger_Sub_Bass_Em_109bpm.mp3" class="player-title">Cold Breeze 808 Cm 77bpm</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Cold Breeze 808 Cm 77bpm</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Bass Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    9th Dec 2023
                </span>
            </div>
            <div class="player-stats-wrapper">
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Coldbreeze_808_Cm_77bpm.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Coldbreeze_808_Cm_77bpm.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--10-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">Vox Pattern 10</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Vox Pattern 10</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    3rd May 2022
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Vox_pattern_1.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Vox_pattern_1.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--11-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">Pattern 11 </a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Pattern 11</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    3rd May 2022
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Vox_pattern_1.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Vox_pattern_1.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
<!--12-->
<div class="player-wrapper 704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35 loop" rel="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3">
    <div id="player_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-jplayer"></div>
    <div id="jp_container_704d63669ca744001249a43ac66b590deba9e6aa9502280702e833401df52c35" class="jp-audio">
        <div class="player-title-wrapper-mbl">
            <a href="/Users/administrator/Desktop/Projects/djangoProjects/anew_web/backend/frontend/static/mp3/brake_neck_drumloop.mp3" class="player-title">Pattern 12</a>
        </div>
        <div class="player-top">
            <!-- avatar -->
            <div class="">
                <a href="/"><img src="static/images/.png" height="50" width="50" data-toggle="tooltip" data-html="true" loading="lazy" title="BBigShot" class="avatar rounded-circle border player-avatar"></a>
            </div>
            <!-- title -->
            <div class="player-title-wrapper">
                <a href="/" class="player-title">Pattern 12</a>
            </div>
            <!-- play btn -->
        </div>
        <!-- end top -->
        <div class="player-midtop">
            <!-- info -->
            <div class="player-sub-title">
                <a href="/" class="icon-small icon-user" title="Find more loops uploaded by BBigShot">Vox Loop Maker</a>
                <span class="datetime" title="uploaded 1 hour ago - added 1 hour ago">
                    3rd May 2022
                </span>
            </div>
            <div class="player-stats-wrapper">
          
            </div>
        </div>
        <!-- end midtop -->
        <div class="player-middle">
            <!-- progress bar -->
            <div class="player-waveform-wrapper-list">
                <div class="jp-progress">
                    <div class="link-text"><a href="{% static 'mp3/Vox_pattern_1.mp3' %}" class="link" download>Download</a></div>
                    <div class="jp-seek-bar">
                    </div>
                </div>
            </div>
        </div>
        <audio 
                id="myAudio" 
                src="{% static 'mp3/Vox_pattern_1.mp3' %}" 
                controls 
                controlsList="nodownload" 
                loop>
        </audio>
        <br>
        <br>
    </div>
</div>
        <footer>
            <nav class="navbar2">
                <ul class="list2">
                    <li class="list-item2">
                        <a id="nav2" href="drums.html">Drums</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="bass.html">Bass</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="vox.html">Vox</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="about.html">Extenstion</a>
                    </li>
                    <li class="list-item2">
                        <a id="nav2" href="policy.html">Policy</a>
                    </li>
                </ul>
            </nav>
            <h4>Free Music Loops</h4>
            <h5>1208 SE 35th Blvd, 99024 Los Angeles, CA</h5>
            <h6>FreeMusicLoops@Gmail.com | 626-009-4562</h6>
            <div class="copyright">
                <h6 id="copy-id"> Copyright © Developer All rights reserved</h6>
            </div>
        </footer>
</body>
</html>