* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

body {
    margin: 0;
    padding: 0;
    background-image: url('static/images/pexels-kai-pilger-1128440.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
}

h1 {
    color: #333;
}

p {
    color: #555;
    line-height: 1.5;
}


.main-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 2.5rem;
}

.navbar{
    background-color: transparent;
    margin-top: 60px;
}

.navbar,.nav-container{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: 1.2rem;
}
.nav-list{
    padding: 20px;
}

.nav-item{
    text-decoration: none;
    color: #fff;
}
.nav-item:hover{
    color:darkorange;
}

.form-class,.input-fields{
    display: grid;
    justify-content: center;
    align-items: center;
}

.input-fields,.submit-btn,input{
    padding: 10px;
}

.download-text{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    color: #fff;
}

.link-set,.links{
    display: grid;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.link-set {
    background: radial-gradient(
    circle at center, 
    darkorange 0%, grey 50%, black 100%);
}

.link.a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: crimson;
}
.link.a:hover{
    color: #fff;
}

.spacer{
    padding: 5px;
}

a.loop-title-bass,
.loop-title-drums,
.loop-title-vox,
.loop-title{
    color: darkorange;
    text-decoration: none;
}
a.loop-title{
    font-size: 5rem;
}

.para-text{
    display: grid;
    text-align: center;
    color: #fff;
}

.link-text{
    color: #fff;
}
